#containerDiv {
	font-family: 'Droid Sans', sans-serif;
}

#logoDiv {
	font-family: 'Lilita One', cursive;
}

#loggedUserName {
	font-weight: bold;
}

#footerDiv {
	text-align: center;
}

th, td {
	text-align: center;
	min-width: 90px;
}


#teamGoalkeepersTable th.playerRole {
	color: white;
	font-size:125%;
	background: #2581E3;
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
	background-size: 50px 50px;
}

#teamDefendersTable th.playerRole {
	color: white;
	font-size:125%;
	background: #25E377;
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
	background-size: 50px 50px;
}

#teamMidfieldersTable th.playerRole {
	color: white;
	font-size:125%;
	background: #D6E325;
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
	background-size: 50px 50px;
}

#teamForwardsTable th.playerRole {
	color: white;
	font-size:125%;
	background: #E35725;
	background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
	background-size: 50px 50px;
}

/*
tbody tr:nth-child(odd) {
   background-color: #5BC0DE;
}
*/

.rating {
	margin: 0px auto;
}

#addPlayerButton {
	margin: 10px auto;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}

tr.playerDetails:hover {
	background-color: #5BC0DE;
}

tr.trainingDetails:hover {
	background-color: #5BC0DE;
}

#alert {
	display: table;
	position: fixed;
	top: 50px;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
	line-height: 60px;
}

#recurrenceExpireDate {
	display:  none;
}
