<script> jQuery("#teampane").i18n(); </script>

<!--<script id="teamPane.mustache" type="text/mustache">-->
<div id="teamPane">
	<h2>This is the {{paneName}} pane</h2>
	<div class="table-responsive">
		<table id="teamTable" class="table table-striped .table-bordered .table-condensed .table-hover tablesorter">
			<thead>
				<tr>
					<th>Role</th>
					<th>Last name</th>
					<th>Name</th>
					<th>Games played</th>
					<th>Goals scored</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				{{#goalkeepers}}
					
					<!-- TODO -->
					<tr id="{{id}}" class="playerDetails" onclick="document.location = '#/editPlayer?id={{id}}'"> 
						<td>Goalkeeper</td>
						<td>{{attributes.last_name}}</td>
						<td>{{attributes.name}}</td>
						<td>{{attributes.game_played}}</td>
						<td>{{attributes.goal_scored}}</td>
						<td><img class="rating" src="img/rating{{attributes.rating}}.png" width="60px" alt="({{attributes.rating}})"></img></td>
					</tr>
				{{/goalkeepers}}
				{{#defenders}}
					<tr id="{{id}}" class="playerDetails" onclick="document.location = '#/editPlayer?id={{id}}'">
						<td>Defender</td>
						<td>{{attributes.last_name}}</td>
						<td>{{attributes.name}}</td>
						<td>{{attributes.game_played}}</td>
						<td>{{attributes.goal_scored}}</td>
						<td><img class="rating" src="img/rating{{attributes.rating}}.png" width="60px" alt="({{attributes.rating}})"></img></td>
					</tr>
				{{/defenders}}
				{{#midfielders}}
					<tr id="{{id}}" class="playerDetails" onclick="document.location = '#/editPlayer?id={{id}}'">
						<td>Midfielder</td>
						<td>{{attributes.last_name}}</td>
						<td>{{attributes.name}}</td>
						<td>{{attributes.game_played}}</td>
						<td>{{attributes.goal_scored}}</td>
						<td><img class="rating" src="img/rating{{attributes.rating}}.png" width="60px" alt="({{attributes.rating}})"></img></td>
					</tr>
				{{/midfielders}}
				{{#forwards}}
					<tr id="{{id}}" class="playerDetails" onclick="document.location = '#/editPlayer?id={{id}}'">
						<td>Forward</td>
						<td>{{attributes.last_name}}</td>
						<td>{{attributes.name}}</td>
						<td>{{attributes.game_played}}</td>
						<td>{{attributes.goal_scored}}</td>
						<td><img class="rating" src="img/rating{{attributes.rating}}.png" width="60px" alt="({{attributes.rating}})"></img></td>
					</tr>
				{{/forwards}}
			</tbody>
		</table>
	</div>	
	<button id="addPlayerButton" type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>Add player</button>
</div>
<!--</script>-->