<script> jQuery("#addPlayerPage").i18n(); </script>

<div id="addPlayerPage">
	<h2>This is the {{paneName}} page</h2>
	<form role="form" id="addPlayerForm" action="#/addPlayer" method="post">
		<div class="form-group">
			<label for="lastName" data-i18n="playerAttribute.lastName">Last name</label>
			<input type="text" class="form-control" id="lastName" placeholder="Last name" data-validation="required" data-i18n="[placeholder]playerAttribute.lastNamePlaceholder"></input>
		</div>
		<div class="form-group">
			<label for="firstName" data-i18n="playerAttribute.firstName">Name</label>
			<input type="text" class="form-control" id="firstName" placeholder="First name" data-i18n="[placeholder]playerAttribute.firstNamePlaceholder"></input>
		</div>
		<div class="form-group">
			<label for="role" data-i18n="playerAttribute.role">Role</label>
			<select id="role" class="form-control">
				<option value="0" data-i18n="teamRole.goalkeeper">Goalkeeper</option>
				<option value="1" data-i18n="teamRole.defender">Defender</option>
				<option value="2" data-i18n="teamRole.midfielder">Midfielder</option>
				<option value="3" data-i18n="teamRole.forward">Forward</option>
			</select>
		</div>
		<div class="form-group">
			<label for="shirtNumber" data-i18n="playerAttribute.shirt">Shirt</label>
			<select id="shirtNumber" class="form-control">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
			</select>
		</div>
		<div class="form-group">
			<label for="phoneNumber" data-i18n="playerAttribute.phoneNumber">Phone number (optional)</label>
			<input type="tel" class="form-control" id="phoneNumber" placeholder="Phone number" data-i18n="[placeholder]playerAttribute.phoneNumberPlaceholder"></input>
		</div>
		<div class="form-group">
			<label for="emailAddress" data-i18n="playerAttribute.emailAddress">Email address (optional)</label>
			<input type="email" class="form-control" id="emailAddress" placeholder="Email address" data-i18n="[placeholder]playerAttribute.emailAddressPlaceholder"></input>
		</div>
		<div class="form-group">
			<label for="birthdate" data-i18n="playerAttribute.dateOfBirth">Date of Birth:</label>
			<!--
			<input id="birthdateDay" type="tel" maxlength="2" placeholder="DD" data-i18n="[placeholder]date.dayPlaceholder" data-validation="number" data-validation-optional="true" data-validation-allowing="range[1;31]"></input>
			<input id="birthdateMonth" type="tel" maxlength="2" placeholder="MM" data-i18n="[placeholder]date.monthPlaceholder" data-validation="number" data-validation-optional="true" data-validation-allowing="range[1;12]"></input>
			<input id="birthdateYear" type="tel" maxlength="4" placeholder="YYYY" data-i18n="[placeholder]date.yearPlaceholder" data-validation="number" data-validation-optional="true" data-validation-allowing="range[1900;2013]"></input>
			-->
			<input id="birthdate" type="text" maxlength="10" placeholder="DD/MM/YYYY" data-i18n="[placeholder]date.birthdatePlaceholder" data-validation="birthdate" data-validation-optional="true" data-validation-format="dd/mm/yyyy"></input>
		</div>
		<button id="savePlayerButton" type="submit" class="btn btn-info" data-i18n="addPlayer.savePlayerButton">Save</button>
		<button id="cancelAddPlayerButton" type="button" class="btn btn-default" data-i18n="addPlayer.cancelAddPlayerButton">Cancel</button>
	</form>
</div>


<script> 
	// Form validation
	jQuery( "#birthdate").attr( "data-validation-error-msg", function() {
		return i18n.t("formValidation.invalidBirthdateMessage");
	});
	jQuery( "#lastName").attr( "data-validation-error-msg", function() {
		return i18n.t("formValidation.requiredFieldMessage");
	});
	
	//Event handlers - wiring						
	//jQuery( "#savePlayerButton" ).on( "click",  mtmGufogiallo.controller.savePlayerHandler );
	jQuery( "#savePlayerButton" ).on( "click",  jQuery.validate(
		{
			form: "#addPlayerForm",
			modules : "date, security",
			validateOnBlur : true,
			onError: function() {
				console.log( "validation failed" );
				//scroll vertically to input field where the validation error is
				window.scrollTo( 0, jQuery( ".error" ).scrollTop() );	
			},
			onSuccess: function() {
				console.log( "validation succeded" );
				mtmGufogiallo.controller.savePlayerHandler( jQuery.Event( "click" ) );
			}
		}
	));
	jQuery( "#cancelAddPlayerButton" ).on( "click",  mtmGufogiallo.controller.cancelAddPlayerHandler );	
</script>