<script> jQuery("#editTrainingPage").i18n(); </script>

<div id="editTrainingPage">
	<h2>This is the {{paneName}} page</h2>
	<form role="form" id="editTrainingForm" action="#/editTraining" method="post">
		<div class="form-group">
			<label for="trainingDate" data-i18n="trainingAttribute.date">Date</label>
			<input id="trainingDate" data-inputmask="'alias': 'date'" type="text" maxlength="10" placeholder="DD/MM/YYYY" data-i18n="[placeholder]datetime.datePlaceholder" data-validation="date" data-validation-optional="true" data-validation-format="dd/mm/yyyy"></input>
		</div>
		<div class="form-group">
			<label for="trainingTime" data-i18n="trainingAttribute.time">Time</label>
			<input id="trainingTime" data-inputmask="'hh:mm" type="text" maxlength="5" placeholder="hh:mm" data-i18n="[placeholder]datetime.timePlaceholder" data-validation="time" data-validation-optional="true" data-validation-format="hh:mm"></input>
			<script>
				/*Calculate day, month and year of the training timestamp*/
				{{#selectedTraining}}
					var timestamp = new Date( {{selectedTraining.timestamp}} );
					
					var trainingDate = ('0' + timestamp.getDate()).slice(-2) + "/" + ('0' + (timestamp.getMonth() +1)).slice(-2) + "/" + timestamp.getFullYear();
					var trainingTime = ('0' + timestamp.getHours()).slice(-2) + ":" + ('0' + timestamp.getMinutes()).slice(-2);
					
					jQuery("#trainingDate").val( trainingDate );
					jQuery("#trainingTime").val( trainingTime );
				{{/selectedTraining}}
			</script>
		</div>
		<!--
		<div class="form-group">
			<label for="recurrence" data-i18n="trainingAttribute.recurrence">Recurrence</label>
			<select id="recurrence" class="form-control">
				<option value="0" data-i18n="trainingAttribute.noRecurrence">None</option>
				<option value="1" data-i18n="trainingAttribute.dailyRecurrence">Every day</option>
				<option value="2" data-i18n="trainingAttribute.weeklyRecurrence">Every week</option>
			</select>
			<script>
				//let the recurrence already assigned to the training be selected by default
				jQuery("option[value={{selectedTraining.repeat}}]").attr( "selected", "selected");
			</script>
		</div>
		-->
		<div class="form-group">
			<label for="location" data-i18n="trainingAttribute.location">Location</label>
			<input type="text" class="form-control" id="location" placeholder="Location" data-i18n="[placeholder]trainingAttribute.locationPlaceholder" data-validation="alphanumeric" data-validation-allowing="-_ " data-validation-optional="true" value="{{selectedTraining.location}}"></input>
		</div>
		
		<div class="form-group">
			<label for="note" data-i18n="trainingAttribute.note">Location</label>
			<input type="text" class="form-control" id="note" data-validation="alphanumeric" data-validation-allowing="-_ " data-validation-optional="true" value="{{selectedTraining.note}}"></input>
		</div>

		<button id="updateTrainingButton" type="submit" class="btn btn-info" data-i18n="buttons.updateTrainingButton">Update</button>
		<button id="deleteTrainingButton" type="button" class="btn btn-danger" data-i18n="buttons.deleteTrainingButton">Delete</button>
		<button id="cancelEditTrainingButton" type="button" class="btn btn-default" data-i18n="buttons.cancelEditTrainingButton">Cancel</button>
	</form>
</div>