<script> jQuery("#homePane").i18n(); </script>

<div id="homePane" class="jumbotron">
	<h1>Hello!</h1>
	<h2>This is the {{paneName}} pane</h2>
</div>
<!--
<h4 data-bind="text: myTeam"></h4>
<table class="table">
	<thead>
        <tr>
            <th>Points</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
			<th>Goals scored</th>
			<th>Goals taken</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <span data-bind="text: points"></span>
				<span data-bind="text: played"></span>
				<span data-bind="text: won"></span>
				<span data-bind="text: drawn"></span>
				<span data-bind="text: lost"></span>
				<span data-bind="text: goalsScored"></span>
				<span data-bind="text: goalsTaken"></span>
            </td>
        </tr>
    </tbody>
</table>
<button data-bind='click: changeTeam'>Change team</button>
<button data-bind='click: addTeam'>Add a new team</button>
-->

