<script> jQuery("#teamPane").i18n(); </script>

<!--<script id="teamPane.mustache" type="text/mustache">-->
<div id="teamPane">
	<h2>This is the {{paneName}} pane</h2>
	<div class="table-responsive">
		<table id="teamGoalkeepersTable" class="table table-striped .table-bordered .table-condensed .table-hover tablesorter">
			<thead>
				<tr> 
					<th colspan="5" class="playerRole" data-i18n="teamRole.goalkeepers">Goalkeepers</th>
				</tr>
				<tr>
					<th data-i18n="playerAttribute.lastName">Last name</th>
					<th data-i18n="playerAttribute.firstName">Name</th>
					<th data-i18n="playerAttribute.gamesPlayed">Games played</th>
					<th data-i18n="playerAttribute.goalsScored">Goals scored</th>
					<th data-i18n="playerAttribute.rating">Rating</th>
				</tr>
			</thead>
			<tbody>
				{{#goalkeepers}}						
					<tr id="{{id}}" class="playerDetails" onclick="document.location = '#/editPlayer?id={{id}}'"> 
						<td>{{lastName}}</td>
						<td>{{firstName}}</td>
						<td>{{gamesPlayed}}</td>
						<td>{{goalsScored}}</td>
						<td><img class="rating" src="img/rating{{rating}}.png" width="60px" alt="({{rating}})"></img></td>
					</tr>
				{{/goalkeepers}}
			</tbody>
		</table>
		<table id="teamDefendersTable" class="table table-striped .table-bordered .table-condensed .table-hover tablesorter">
			<thead>
				<tr> 
					<th colspan="5" class="playerRole" data-i18n="teamRole.defenders">Defenders</th>
				</tr>
				<tr>
					<th data-i18n="playerAttribute.lastName">Last name</th>
					<th data-i18n="playerAttribute.firstName">Name</th>
					<th data-i18n="playerAttribute.gamesPlayed">Games played</th>
					<th data-i18n="playerAttribute.goalsScored">Goals scored</th>
					<th data-i18n="playerAttribute.rating">Rating</th>
				</tr>
			</thead>
			<tbody>
				{{#defenders}}
					<tr id="{{id}}" class="playerDetails" onclick="document.location = '#/editPlayer?id={{id}}'">
						<td>{{lastName}}</td>
						<td>{{firstName}}</td>
						<td>{{gamesPlayed}}</td>
						<td>{{goalsScored}}</td>
						<td><img class="rating" src="img/rating{{rating}}.png" width="60px" alt="({{rating}})"></img></td>
					</tr>
				{{/defenders}}
			</tbody>
		</table>				
		<table id="teamMidfieldersTable" class="table table-striped .table-bordered .table-condensed .table-hover tablesorter">
			<thead>
				<tr> 
					<th colspan="5" class="playerRole" data-i18n="teamRole.midfielders">Midfielders</th>
				</tr>
				<tr>
					<th data-i18n="playerAttribute.lastName">Last name</th>
					<th data-i18n="playerAttribute.firstName">Name</th>
					<th data-i18n="playerAttribute.gamesPlayed">Games played</th>
					<th data-i18n="playerAttribute.goalsScored">Goals scored</th>
					<th data-i18n="playerAttribute.rating">Rating</th>
				</tr>
			</thead>
			<tbody>	
				{{#midfielders}}
					<tr id="{{id}}" class="playerDetails" onclick="document.location = '#/editPlayer?id={{id}}'">
						<td>{{lastName}}</td>
						<td>{{firstName}}</td>
						<td>{{gamesPlayed}}</td>
						<td>{{goalsScored}}</td>
						<td><img class="rating" src="img/rating{{rating}}.png" width="60px" alt="({{rating}})"></img></td>
					</tr>
				{{/midfielders}}
			</tbody>
		</table>
		<table id="teamForwardsTable" class="table table-striped .table-bordered .table-condensed .table-hover tablesorter">
			<thead>
				<tr> 
					<th colspan="5" class="playerRole" data-i18n="teamRole.forwards">Forwards</th>
				</tr>
				<tr>
					<th data-i18n="playerAttribute.lastName">Last name</th>
					<th data-i18n="playerAttribute.firstName">Name</th>
					<th data-i18n="playerAttribute.gamesPlayed">Games played</th>
					<th data-i18n="playerAttribute.goalsScored">Goals scored</th>
					<th data-i18n="playerAttribute.rating">Rating</th>
				</tr>
			</thead>
			<tbody>			
				{{#forwards}}
					<tr id="{{id}}" class="playerDetails" onclick="document.location = '#/editPlayer?id={{id}}'">
						<td>{{lastName}}</td>
						<td>{{firstName}}</td>
						<td>{{gamesPlayed}}</td>
						<td>{{goalsScored}}</td>
						<td><img class="rating" src="img/rating{{rating}}.png" width="60px" alt="({{rating}})"></img></td>
					</tr>
				{{/forwards}}
			</tbody>
		</table>
	</div>	
	<button id="addPlayerButton" type="button" class="btn btn-info" data-i18n="buttons.addPlayerButton"><span class="glyphicon glyphicon-plus"></span>Add player</button>
</div>
<!--</script>-->